<!-- footer starts -->
<div id="footer" class="navbar navbar-default navbar-fixed-bottom" style="height:20px;">     
  <nav>
    <div id="prodo-row-footer" style="padding:10px; margin:10px auto;" class="row"> 
      <!-- <div class="col-xs-1 col-sm-1 col-md-1"></div> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div style="letter-spacing:.5px;font-weight:bold;font-size:10px;">
        	<center>Contact Us: +91 9765423218 | Web Projects.</center>
        </div>
      </div>
    </div>
  </nav> 
</div>
