<!-- navigation bar starts -->
<div class="lmap-navbar navbar navbar-default navbar-static-top" role="navigation">
  <div id="navbar-container" class="navbar-container">
    <div class="navbar-header">
      <!-- Start: this is a toggle button only visible in smaller viewports to make navigation bar responsive -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- End: this is a toggle button only visible in smaller viewports to make navigation bar responsive. -->
      <!-- Start: this is orderzapp logo or brand name displays at top left corner of navigation bar. -->
      <a id="navbar-brand" class="navbar-brand" href="#">
        Bank & Branches
      </a>
      <!-- End: this is orderzapp logo or brand name displays at top left corner of navigation bar. -->
    </div>
    <!-- navbar-header ends  -->
  </div>
  <!-- navbar-container ends  -->
</div>
<!-- navbar navbar-inverse navbar-fixed-top ends  -->
<!-- navigation bar ends -->
